<div class="container">
    <hr>
    <h1>Bienvenido ! - "Cacho Mecanica"
        <h4 class="float-right" style="margin-top:20px;">Fecha : {{fecha}}</h4>
    </h1>
    <hr>

    <div class="col-md-6">

        <div class="row">
            <div>
                <h3 class="text-right">Ventas del dia : $<strong>{{ventasDelDia}}</strong></h3>
            </div>
        </div>


    </div>

    <hr>


    <div class="col-md-6">

        <div class="row">
            <div>
                <h3 class="text-right">Ingresos del dia : $<strong>{{ingresosDelDia}}</strong></h3>
            </div>
        </div>


    </div>

    <hr>

    <div class="col-md-6">

        <div class="row">
            <div>
                <h3 class="text-right">Egresos del dia : $<strong>{{egresosDelDia}}</strong></h3>
            </div>
        </div>


    </div>

</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018:
        <a href="https://www.linkedin.com/in/jacobsenagustin28/"> Agustin Jacobsen - Linkedin</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->