<h3>Cliente : <small>{{ cliente.nombre + ' ' + cliente.apellido | uppercase }}</small></h3>
<button (click)="regresar()" class="btn btn-outline-danger">
  Regresar
</button>
<button (click)="agregarNuevo(forma)" type="button" class="btn btn-outline-success">
  Nuevo
</button>
<hr>
<div *ngIf="guardado" class="alert alert-warning" role="alert">
    <strong>Guardado</strong>
</div>

<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-10">
        <form (ngSubmit)="guardar()" #forma="ngForm">

            <div class="form-group">
                <label>Nombre</label>
                <input [(ngModel)]="cliente.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del cliente" required>
            </div>

            <div class="form-group">
                <label>Apellido</label>
                <input [(ngModel)]="cliente.apellido" name="apellido" type="text" class="form-control" placeholder="Apellido" required>
            </div>
            <div class="form-group">
                <label>Direccion</label>
                <input [(ngModel)]="cliente.direccion" name="direccion" type="text" class="form-control" placeholder="Direccion" required>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input [(ngModel)]="cliente.email" name="email" type="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label>Telefono</label>
                <input [(ngModel)]="cliente.telefono" name="telefono" type="text" class="form-control" placeholder="3455XXXXX" required>
            </div>
            <div class="form-group">
                <label>Vehiculo <small>(Opcional)</small></label>
                <input [(ngModel)]="cliente.vehiculo" name="vehiculo" type="text" class="form-control" placeholder="Ej: VW BORA">
            </div>

            <div class="form-group">
                <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
          Guardar carmbios
        </button>
            </div>

        </form>


    </div>
</div>