<h1>Articulos</h1>
<hr>


<div class="row">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/articulo','nuevo']" class="btn btn-outline-primary" type="button" name="button">
      Nuevo articulo
    </button>
    </div>
</div>
<br>


<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="input-group" style="margin-bottom:20px;"> <span class="input-group-addon"></span>
            <input [(ngModel)]="searchText" class="form-control" placeholder="Busqueda por nombre de articulo..">
        </div>
        <div class="table-responsive">

            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Titulo</th>
                        <th>Marca</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Ultima actualizacion</th>
                        <th>Precio mayorista</th>
                        <th>Ganancia</th>
                        <th>Precio final</th>
                        <th class="text-right">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of articulos | filterArticulo : searchText ; let i = index">
                        <td *ngIf="estaEntreLimites(i)">{{ i + 1 }}</td>
                        <td *ngIf="estaEntreLimites(i)">{{ k.titulo | uppercase}}</td>
                        <td *ngIf="estaEntreLimites(i)">{{ k.marca | uppercase}}</td>
                        <td *ngIf="estaEntreLimites(i)">{{ k.descripcion | uppercase}}</td>
                        <td *ngIf="estaEntreLimites(i)">{{ k.cantidad }}</td>
                        <td *ngIf="estaEntreLimites(i)">{{ k.fechaActualizacion }}</td>
                        <td *ngIf="estaEntreLimites(i)">${{ k.precioMayorista}}</td>
                        <td *ngIf="estaEntreLimites(i)">{{ k.gananciaPorcentaje}}%</td>
                        <td *ngIf="estaEntreLimites(i)">${{ k.precio}}</td>
                        <td *ngIf="estaEntreLimites(i)" class="text-right w120">
                            <button [routerLink]="['/articulo', k._id]" type="button" class="btn btn-outline-success">
                Editar
              </button>
                            <button (click)="deleteArticulo(k._id, i)" type="button" class="btn btn-outline-danger">
                Eliminar
              </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-danger" (click)="retrocederPagina()">
                Atras
            </button>
            <div class="float-right">
                <button type="button" class="btn btn-success" (click)="cambiarPagina()">
                Siguiente
                </button>
            </div>
            <hr>
            <div *ngIf="(articulos | keys).length === 0 && !loading" class="alert alert-info" role="alert">
                <strong>No hay</strong> registros que mostrar
            </div>
            <div *ngIf="loading" class="alert alert-warning" role="alert">
                <strong>Cargando...</strong> por favor espere
            </div>



        </div>
    </div>